@model IEnumerable<RemoteSignatureApp.Models.CredentialViewModel>

@Html.Label("Selectare certificat pentru semnare:")

<table class="table table-hover table-responsive table-bordered" style="width:80%;">
    <thead>
        <tr>
            <th scope="col">Alias certificat</th>
            <th scope="col">Activ</th>
            <th scope="col">ID credential</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>    @Html.DisplayFor(modelItem => item.Alias)</td>
                <td>

                    @Html.DisplayFor(modelItem => item.Status)

                </td>

                <td>
                    @if (item.Status == "expired")
                    {
                        @Html.DisplayFor(modelItem => item.Id)
                    }
                    else
                    {
                        @Html.ActionLink(item.Id, "SendOTP", "Home", new { cred = item.Id }, null)
                    }

                </td>
            </tr>




        }


    </tbody>
</table>


